*.log
*.lock
/.phpunit.cache
/node_modules
/vendor
.env
.env.*
.DS_Store
/.fleet
/.idea
/.vscode
/stubs
/public/hot
/public/storage
/storage/*.key
/coverage
npm-debug.log
yarn-debug.log*
yarn-error.log*